<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io.connect('http://localhost:8080');
  socket.on('new_result', function (data) {
    console.log('new_result', data);
  });

 fetch('http://localhost:8080/polls')
 .then((response) => response.json())
 .then((json) => {
   json.polls.forEach((poll) => {
     console.log('vote', poll.id);
     socket.emit('vote', { id: poll.id, choice: 0, user: 'web'})
   })
 })
</script>
